.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-logo p {
  color: #171717;
  font-size: 28px;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

/* .nav-menu hr {
  border: none;
  width: 90%;
  height: 3px;
  border-radius: 10px;
  background-color: #ff4141;
} */

.nav-menu .active {
  padding-bottom: 4px;
  border-bottom: 2px solid #ff4141;
}
.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-login-cart button {
  width: 120px;
  height: 50px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
}

.nav-login-cart button:active {
  background: #f3f3f3;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -47px;
  margin-left: -46px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}

.nav-dropdown {
  display: none;
}

@media (max-width: 1280px) {
  .navbar {
    padding: 12px 50px;
  }
}
@media (max-width: 1024px) {
  .navbar {
    padding: 12px 40px;
  }
  .nav-login-cart button {
    width: 90px;
    height: 40px;
  }
  .nav-logo img {
    width: 45px;
  }
  .nav-logo p {
    font-size: 22px;
  }
  .nav-menu {
    gap: 22px;
    font-size: 18px;
  }
  .nav-login-cart img {
    width: 40px;
  }
  .nav-cart-count {
    width: 18px;
    height: 16px;
  }
}

@media (max-width: 800px) {
  .navbar {
    padding: 10px 0px;
  }
  .nav-dropdown {
    display: block;
    width: 30px;
    rotate: -90deg;
    transition: 0.5s;
    cursor: pointer;
  }
  .nav-menu {
    display: none;
    justify-content: center;
    width: 100%;
    height: 60px;
    position: absolute;
    background-color: white;
    justify-content: center;
    top: 50px;
  }
  .nav-menu-visible {
    display: flex;
    margin-top: 6px;
  }
  .nav-dropdown.open {
    transform: rotate(90deg);
  }
}

@media (max-width: 500px) {
  .navbar {
    padding: 6px 0px;
  }
  .nav-logo p {
    font-size: 14px;
  }
  .nav-logo img {
    width: 40px;
  }
  .nav-login-cart {
    transform: scale(0.8);
  }
}
